.divider {
  --divider-height:60px;
  display: block;
  width: 100%;
  height: var(--divider-height);

  @media only screen and (max-width:768px) {
    --divider-height: 40px;
  }

  &.padding {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &::before {
    content: '';
    background-image: url('./asset/divider.png');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width:100%;
    height: var(--divider-height);
    max-width: 230px;
    background-size: contain;
    margin: auto;
    // background-color: darken($backgroundColor, 6);
  }
  
}