.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  height: calc(100vh - 59px);
  width: 100%;
  background-color: rgb(59, 46, 26);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: var(--bg-image);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
  }

  .ornament {
    width: 100%;
    height: 100%;
    position:absolute;

    &__item {
      position: absolute;
      height: 70%;
      width:70%;
      background-size: contain;
      background-repeat: no-repeat;

      &.top-left {
        background-image:url('./asset/bg_back.png');
        background-position: left top;
        left:0px;
        top:0px;
        opacity:.3;
      }
      &.top-right {
        //  background-image: url('./asset/hero_right-top.png');
        // background-position: right top;
        // right:0;
        // top:0;
      }
      &.bottom-left {
        // background-image:url('./asset/bg_left_opacity.png');
        // background-position: left bottom;
        // left:0;
        // bottom: 0;
      }
    }
  }
  .content {
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__item {

      &.text {
        color: $light;
        margin:8px auto;
        font-size: $h6;
      }
      &.heading { 
        text-align: center;
        font-family: $secondaryFont;
        font-size: $hero;
        color: white;
      }
    }

  }
}