#mempelai {
  background-color: $accent;
  .card {
    --card-img:180px;

    &__title {
      color: #fff;
    }
    &__subtitle {
      color: rgba(#fff, .7);

    }

    &__content {
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 1rem;
    }
    &__item {
      margin-top:90px;
      padding: 2rem;
      margin-left:1rem;
      margin-right:1rem;
      min-width: 330px;
      background-color: rgba(white, .8);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      position: relative;
      border-radius: 8px;

      .image {
        height:60px;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height:auto;
          position:absolute;
          transform: translateY(-60px);
          width:var(--card-img);
          height:var(--card-img);
          overflow:hidden;
          border-radius: 50%;
          border:5px solid #fff;
          box-shadow:-4px 3px 19px -10px #333;
        }

      }

      .title {
        font-size: $h5; 
        margin-top: 1rem;
        color: $primary;
        font-weight: $bold;
      }
      
      .description {
        font-size: $p3;
        padding: .5rem;
      }

    }
  }
}
