#credit {
  background-color: lighten($dark,10);
  color:hsl(0, 0%, 100%);
  .card {
    &__title {
      font-size: $h2;
      font-family: $secondaryFont;
      color: $primary;
      color:hsl(0, 0%, 100%);
    }
    &__content {
      font-size: $p4;
      padding: 5px;
    }
    &__item {
      .title {
        margin: .4rem auto;
      }
      .description {
        font-size: $p;
      }
      a {
        color: darken(white, 5);
        &:hover {
          color:darken(white, 10)
        }
      }
    }

  }
}