html {
  scroll-behavior: smooth;
}
*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
p {
  margin-top: 0;
  margin-bottom: .5rem;
}
body{
  background-color: $backgroundColor;
  font-family: $mainFont;
  color: $baseColor;
  font-size: $baseText;
  overflow-x: hidden;
}
.btn,
button {
  cursor: pointer;
  padding:.7em 2em;
  font-size: $p3;
  background-color: lighten($accent, 6);
  text-decoration: none;
  border-radius: 5px;
  color: white;
 transition: all .3s ease-in-out;
  
  &:hover,
  &:focus,
  &:active {
    outline: none;
    background-color:$accent;
    color: darken(white,3);

  }
}

main {
  background-color: hsl(0, 0%, 100%);
  overflow-x: hidden;
  position: relative;

  &:before {
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    content: '';
    background-image: url('./asset/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    opacity:.3;
  }

}
strong {
  font-weight: 600;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

h2.title {
  font-size: $h2;
}
h3.title {
  font-size: $h3;
}
h4.title {
  font-size: $h4;
}
h5.title {
  font-size: $h5;
}
h6.title {
  font-size: $h6;
}
.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.card {
  max-width: 1024px;
  width:100%;
  margin:auto;
  width:100%;
  overflow: hidden;

  &__content {
    padding:1rem;
  }

  &__title {
    font-size: $h3;
    font-family: $secondaryFont;
    color: $primary;
    font-weight: $bold;
  }

  &__subtitle {
    font-size: $p2;
    color:lighten($baseColor, 5);
    line-height: 1.6;
    max-width:90%;
    max-width: 600px;
    margin:auto;
  }
 
}
// set content when modal welcome is active
.animate {
  // transform: translateY(100px);
  opacity: 0;
}
.is__modal {
  overflow: hidden;

  #content,
  #main {
    overflow:hidden;
  }
  .panel {
    &__first {
      // position:relative;
      width:100%;
      opacity: .5;
    }
    &__second {
    }
  }
  .hero__content {
    transform: translate(190px, 50px);
    opacity: .4;
  }
}
.no-scroll {
  overflow: hidden
}

.flex {
  display: flex;
  flex-direction: column;
}
 
.panel {
  &__first {
    position:relative;
    height: calc(100vh - 59px);
    width:100%;
    overflow: hidden;
  }
  &__second {
    position: relative;
    width:100%;
    text-align: center;
    overflow: hidden;
    padding-bottom: 3rem;
  }
}

