section#rsvp {

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:600px;
  margin:auto;

  .rsvp__form {
    width: 100%;
    .card {
      display: block;
      &__title {
        font-size: $h3;
      }
      &__subtitle {
        font-size: $p3;
        text-align: center;
        padding: 5px 12px;
      }
      &__content {
        max-width:600px;
        width: 100%;
        margin:auto
      }
      &__item {
  
      }
      &__form {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding:2rem;
        background-color: $baseColor;
        border-radius: 8px;
        font-size: $p3;
        color:$backgroundColor;
  
        label {
          display:block;
          margin-bottom: 1rem;;
          span {
            display: block;
            margin-bottom:.3rem;
            font-size: $p3;
          }
        }
  
        .input {
          width: 100%;
          padding: 8px;
          outline: none;
          border: 1px solid darken($backgroundColor, 10);
          border-radius: 6px;
          background-color: #fffbfb;
          color: #3b3522;
  
          &.error {
            border: 1px solid red;
          }
        }
        button {
          align-self: flex-end;
          padding: 8px 16px;
          background-color: darken($backgroundColor, 30);
          border-radius: 5px;
          font-size: $p2;
          color: white;
          &:hover,
          &:focus {
              background-color: darken($backgroundColor, 35);
              color: darken(white, 5);
          }
        }
      }
    }
  }

  .rsvp__comment {
    margin-top: 2rem;
    text-align: left;
    padding:1rem;
    width:100%;

    .card {
      &__header {
        --btn-width: 1.5rem;
        --btn-height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1rem;

        .paginate {
          display: flex;
          align-items: center;

          &__counter {
            margin-right:.6rem;
          }
          &__link {
            margin: 0.2rem;
            width: var(--btn-width);
            height: var(--btn-height);
            padding:inherit;
            display:flex;
            align-items: center;
            justify-content: center;
            
          }
        }
      }

      &__content {
        padding:0px;
        width:100%;
  
      }
      &__item{

        background-color: lighten($backgroundColor, 5);
        border-radius: 10px;
        margin-bottom: 1rem;
        margin-top: 1rem;
        p {
          margin: 0;
        }
        .header {
          padding: .7rem 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .nama {
          font-size: $p;
          order:2;
          font-weight: 600;
        }
        .kehadiran {
          order:1;
          font-size: 12px;
          padding: 2px 8px;
          border-radius: 20px;
          font-style: italic;
  
          &.success {
            color:$success;
          }
          &.info {
            color:$info;
          }
          &.disabled {
            color:$disabled;
          }
        }
        .ucapan {
          padding:1rem;
          font-size: $p3;
        }
      }
    }
  }

}