/**
** Section Acara
**/

section#acara {

  .card {

    &__title {
      font-size: $h3;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding:2rem;
      
    }
    .data__mempelai {
      .sparator {
        margin:1.5rem auto;
        font-size: $h5;
        color: $primary;
        font-weight: $bold;
        font-family: $secondaryFont;
      }
    }
    .data__event {
      margin-top: 3rem;;
    }

    &__item {
      border-radius: 16px;
      width:100%;
      max-width:350px;
      margin-bottom: .5rem;
      margin-top: .5rem;

      .title {
        color: $primary;
        font-weight: $bold;
        font-family: $secondaryFont;
        letter-spacing: 1px;
      }
      .description {
        font-size: $p3;
        margin: .5rem 0;
      }


      .tanggal {
        font-weight: $bold;
      }
      .jam {
        font-weight: $semibold;
        font-size: $p3;
      }
      .tempat {
        font-size: $p2;
        padding: $p2;
      }
    }

  }
}
